doctype html
html
    include head
        title Sample Profile Page
    body.d-flex.flex-column.h-100
        header
            nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
                a(href='#').navbar-brand
                    i.fa.fa-home
                button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
                    span.navbar-toggler-icon
                .navbar-collapse.collapse.justify-content-stretch
                    ul.navbar-nav
                        each val, key in { 'home':'Home','videos':'My Videos' }
                            li.nav-item
                                a(class=(navKey === key ? 'nav-link active' : 'nav-link') href=key)= val
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href='/logout') Exit&nbsp;
                                i.fa.fa-sign-out
        main.flex-shrink-0(role="main")
            .container
            h3 Welcome to Session Management Example App, #{user.displayName}
            #user-signed-in
                #user-info
                    #photo-container
                    #name #{user.displayName}
                    #email #{user.email} #{user.emailVerified || '(Unverified)'}
                    .clearfix
                p
                    button#testAction Action
                    button#sign-out(onclick="window.location.assign('/logout')") Sign Out
                    button#delete-account(onclick="window.location.assign('/delete')") Delete account
                    .clearfix
                h3 Active Playlist
                .container
                    #activeVidsList.card-group.card-group-scroll
                    .clearfix
                h3 Available videos
                .container
                    #avaialableVidsList.card-group.card-group-scroll
                        for file in files
                            .card
                                img.card-img-top(src=file.tnpath)
                                .card-body
                                    h5.card-title Text
                .clearfix
                    .btn-group.float-right(role="group", aria-label="Example")
                        button.button.btn.btn-secondary Clear
                        button.button.btn.btn-secondary Save
                .container
                    ul.list-inline#testList
                        for file in files
                            li.list-inline-item
                                img(src=file.tnpath)
                form#mydropzone(action='/upload', class='dropzone')