doctype html
html
    include head
        title Sample Profile Page
    body
        #container
            h3 Welcome to Session Management Example App, #{user.displayName}
            #loaded
                #main
                    #user-signed-in
                        #user-info
                            #photo-container
                            #name #{user.displayName}
                            #email #{user.email} #{user.emailVerified || '(Unverified)'}
                            .clearfix
                        p
                            button#testAction Action
                            button#sign-out(onclick="window.location.assign('/logout')") Sign Out
                            button#delete-account(onclick="window.location.assign('/delete')") Delete account
                            .clearfix
                        ul#sortable
                            for file in files
                                li(class='ui-state-default')= file.name
                            .clearfix
                        form#mydropzone(action='/upload', class='dropzone')