doctype html
html
    include head
        title Sample Profile Page
    body
        .container
            h3 Welcome to Session Management Example App, #{user.displayName}
            .row
                .col-lg-12.text-center
                    #user-signed-in
                        #user-info
                            #photo-container
                            #name #{user.displayName}
                            #email #{user.email} #{user.emailVerified || '(Unverified)'}
                            .clearfix
                        p
                            button#testAction Action
                            button#sign-out(onclick="window.location.assign('/logout')") Sign Out
                            button#delete-account(onclick="window.location.assign('/delete')") Delete account
                            .clearfix
                        h3 Active Playlist
                        .container
                            #activeVidsList.card-group.card-group-scroll
                            .clearfix
                        h3 Available videos
                        .container-fluid
                            #avaialableVidsList.card-group.card-group-scroll
                                for file in files
                                    .card
                                        img.card-img-top(src=file.tnpath)
                                        .card-body
                                            h5.card-title Text
                        .container
                            ul.list-inline#testList
                                for file in files
                                    li#.list-inline-item
                                        img(src=file.tnpath)
                        form#mydropzone(action='/upload', class='dropzone')