doctype html
html
    include includes/head
        title= navKey
body
    header
        include includes/menu
    main(role="main")
        .container-fluid.sticky-top.bg-light
            .flex-row
                .col
                    h3 Active Playlist
            .flex-row
                #activeVidsList.col.flex-nowrap.scrolling-wrapper
                    each file in files
                        .col-lg-3.col-md-5.col-6.tn-av-out.my-3(id=file.pk, data-id=file.pk)
                            img.img-fluid.img-thumbnail.img-tn-av(src=file.urlThumbnail)
            .flex-row-reverse.d-flex
                .col
                    button#avdSave.btn.btn-primary.btn-sm Save
        .container-fluid.text-center
            .flex-row
                .col.my-2
                    h3 Available Videos
            #avaialableVidsList.row.text-center.text-lg-left
                each file in files
                    .col-lg-3.col-md-5.col-6.tn-av-out.my-3(data-id=file.pk)
                        img.img-fluid.img-thumbnail.img-tn-av(src=file.urlThumbnail)
                        a.mid-tn-av-blk.close-div
                            .text.fas.fa-trash-alt
include includes/footer
